/* Garante que nenhum elemento interno force overflow */
app-forms {
    display: block;
    max-height: 100%;
}

/* Remove margens padrão que possam causar scroll */
body,
html {
    margin: 0;
    padding: 0;
}

app-forms {
    display: block;
    width: 100% !important;
}