<div class="d-flex justify-content-center w-100">
    <form [formGroup]="forms" (ngSubmit)="salvar()" class="bg-light p-3 rounded"
        style="width: 100%; max-width: 960px; background-color: #f0f0f0;">

        <div class="mb-3 position-relative">
            <label for="inputUser" class="form-label small mb-1">User: *</label>
            <div class="position-relative">
                <i class="fa fa-user input-icon"></i>
                <input type="text" class="form-control input-with-icon" id="inputUser" placeholder="Digite seu usuário"
                    formControlName="user" />
            </div>
            <div *ngIf="isCampoInvalido('user')" class="text-danger small mt-1">
                <small *ngIf="forms.get('user')?.hasError('required')">Campo obrigatório</small>
                <small *ngIf="forms.get('user')?.hasError('user')">Digite um usuário válido</small>
            </div>
        </div>

        <div class="mb-3 position-relative">
            <label for="inputPassword" class="form-label small mb-1">Senha: *</label>
            <div class="position-relative">
                <i class="fa fa-lock input-icon"></i>
                <input type="password" class="form-control input-with-icon" id="inputPassword"
                    placeholder="Digite sua senha" formControlName="password" />
            </div>
            <span class="text-danger small" *ngIf="isCampoInvalido('password')">Campo Obrigatório</span>
        </div>

        <app-toggle (alternadoChange)="onToggleChange($event)"></app-toggle>


        <button class="btn btn-success w-100 py-1 btn-sm" type="submit">
            Entrar
        </button>
    </form>
</div>