<div class="container mt-4" >
    <div class="row align-items-center">
        <div class="col-md-10 mx-auto col-lg-12">
            <form [formGroup]="forms" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" formControlName="email" name="email">
                    <label for="inputEmail">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Senha" formControlName="password" name="password">
                    <label for="inputPassword">Senha</label>
                </div>
                <div class="form-check mb-4 ps-6 float-end">
                    <input class="form-check-input" type="checkbox" id="rememberLogin">
                    <label class="form-check-label" for="rememberLogin">
                        Logar automaticamente
                    </label>
                </div>
                <button class="btn btn-lg btn-success w-100 py-1"  type="submit">Entrar</button>

            </form>
        </div>
    </div>
</div>